<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="initial-scale=1, width=device-width" />
	<title>Rental Reservation</title>
	<link rel="stylesheet" href="./styles.css" />
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap" />
</head>

<body>
	<div class="task-1">
		<div class="child-field-title">
			<div class="child-fields">
				<h2 class="reservation">Reservation</h2>
			</div>
			<div class="child-field-title-inner" id="frameContainer">
				<button class="print-download-wrapper">
					<div class="print-download">Print / Download</div>
				</button>
			</div>
		</div>
		<main class="frame-parent">
			<div class="frame-group">
				<div class="reservation-details-wrapper">
					<div class="reservation-details">Reservation Details</div>
				</div>
				<div class="date-parent">
					<div class="date">
						<div class="rsvp-field">
							<div class="rsvpID-container">
								<div class="rsvpID-wrapper">
									<div class="rsvpID">Reservation ID</div>
								</div>
								<div class="asterisk">
									<div class="div">*</div>
								</div>
							</div>
							<input class="rsvp-input" type="number" required />
						</div>
						<div class="field-parent">
							<div class="pickupDate-field">
								<div class="pickupDate-container">
									<div class="pickupDate-wrapper">
										<div class="pickupDate">Pickup Date</div>
									</div>
									<div class="asterisk">
										<div class="pickupDate-asterisk">*</div>
									</div>
								</div>
								<div class="pickupDate-input-container">
									<input class="pickupDate-input" placeholder="Select Date and Time" type="date"
										required />
								</div>
							</div>
							<div class="returnDate-field">
								<div class="returnDate-container">
									<div class="returnDate-wrapper">
										<div class="returnDate">Return Date</div>
									</div>
									<div class="asterisk">
										<div class="returnDate-asterisk">*</div>
									</div>
								</div>
								<div class="returnDate-input-container">
									<input class="returnDate-input" placeholder="Select Date and Time" type="date"
										required />
								</div>
							</div>
							<div class="duration-field">
								<div class="duration-container">
									<div class="duration-wrapper">
										<div class="duration">Duration</div>
									</div>
									<div class="asterisk">
										<div class="duration-asterisk">*</div>
									</div>
								</div>
								<select class="duration-input" required>
									<option value="1day">1 day</option>
								</select>
							</div>
						</div>
						<div class="discount-section">
							<div class="discount-field">
								<div class="discount-container">
									<div class="discount-wrapper">
										<div class="discount">Discount</div>
									</div>
								</div>
								<input class="discount-input" type="number" />
							</div>
						</div>
					</div>
					<div class="vehicle-information-wrapper">
						<div class="vehicle-information">Vehicle Information</div>
					</div>
				</div>
				<div class="vehicle-info">
					<div class="vehType-field-container">
						<div class="vehType-field">
							<div class="vehType-container">
								<div class="vehType-wrapper">
									<div class="vehType">Vehicle Type</div>
								</div>
								<div class="asterisk">
									<div class="vehType-asterisk">*</div>
								</div>
							</div>
							<select class="vehType-select" id="vehicleType" required>
								<option value="" disabled selected>Select Vehicle Type</option>
								<% types.forEach(type=> { %>
									<option value="<%= type.type %>">
										<%= type.type %>
									</option>
									<% }); %>
							</select>
						</div>
					</div>
					<div class="vehName-field">
						<div class="vehName-container">
							<div class="vehName-wrapper">
								<div class="vehName">Vehicle</div>
							</div>
							<div class="asterisk">
								<div class="vehName-asterisk">*</div>
							</div>
						</div>
						<select class="vehName-input" id="vehicleName" required disabled>
						</select>
					</div>
				</div>
			</div>
			<div class="frame-container">
				<div class="customer-inf-charges-parent">
					<div class="customer-inf-charges">
						<div class="customer-information-wrapper">
							<div class="customer-information">Customer Information</div>
						</div>
						<div class="charges-summary-wrapper">
							<div class="charges-summary">Charges Summary</div>
						</div>
					</div>
					<div class="info-form-sec">
						<div class="infoform">
							<div class="field-title">
								<div class="field7">
									<div class="title7">
										<div class="text14">
											<div class="text15">First Name</div>
										</div>
										<div class="asterisk7">
											<div class="div7">*</div>
										</div>
									</div>
									<input class="fileds7" type="text" required />
								</div>
								<div class="field8">
									<div class="title8">
										<div class="text16">
											<div class="asterisk-symbol">Last Name</div>
										</div>
										<div class="asterisk8">
											<div class="div8">*</div>
										</div>
									</div>
									<input class="fileds8" type="text" required />
								</div>
								<div class="field9">
									<div class="title9">
										<div class="text17">
											<div class="text18">Email</div>
										</div>
										<div class="asterisk9">
											<div class="div9">*</div>
										</div>
									</div>
									<input class="fileds9" type="email" required />
								</div>
								<div class="field10">
									<div class="title10">
										<div class="text19">
											<div class="text20">Phone</div>
										</div>
										<div class="asterisk10">
											<div class="div10">*</div>
										</div>
									</div>
									<input class="fileds10" type="tel" required />
								</div>
							</div>
						</div>
						<div class="charges-summary">
							<table>
								<thead>
									<tr>
										<th>Charge</th>
										<th>Unit</th>
										<th>Rate</th>
										<th>Total</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>Daily</td>
										<td>1</td>
										<td>$0.00</td>
										<td>$0.00</td>
									</tr>
									<tr>
										<td>Weekly</td>
										<td>1</td>
										<td>$0.00</td>
										<td>$0.00</td>
									</tr>
									<tr>
										<td>Collision Damage Waiver</td>
										<td></td>
										<td>$0.00</td>
										<td>$0.00</td>
									</tr>
									<tr class="total-row">
										<td>Total</td>
										<td></td>
										<td></td>
										<td>$0.00</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<div class="frame-parent7">
					<div class="additional-charges-wrapper">
						<div class="additional-charges">Additional Charges</div>
					</div>
					<div class="frame-parent8">
						<div class="instance-parent">
							<div class="frame-parent9">
								<input class="frame-input" type="checkbox" />

								<div class="option-name">Collision Damage Waiver</div>
							</div>
							<div class="frame-parent10">
								<div class="rectangle-wrapper">
									<div class="frame-child"></div>
								</div>
								<div class="option-name1">$9.00</div>
							</div>
						</div>
						<div class="instance-group">
							<div class="frame-parent11">
								<input class="frame-input1" type="checkbox" />

								<div class="option-name2">Liability Insurance</div>
							</div>
							<div class="rectangle-parent">
								<div class="instance-child"></div>
								<div class="option-name3">$15.00</div>
							</div>
						</div>
						<div class="instance-container">
							<div class="frame-parent12">
								<input class="frame-input2" type="checkbox" />

								<div class="option-name4">Rental Tax</div>
							</div>
							<div class="rectangle-group">
								<div class="instance-item"></div>
								<div class="option-name5">11.5%</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</main>
	</div>
	<script src="./script.js"></script>
</body>

</html>