<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="initial-scale=1, width=device-width" />
	<title>Rental Reservation</title>
	<link rel="stylesheet" href="./styles.css" />
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap" />
	<link rel="stylesheet"
		href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>

<body>
	<div class="task-1">
		<div class="child-field-title">
			<div class="child-fields">
				<h2 class="reservation">Reservation</h2>
			</div>
			<div class="child-field-title-inner">
				<button class="print-download-wrapper" id="printButton">
					<div class="print-download">Print / Download</div>
				</button>
			</div>
		</div>
		<main class="frame-parent">
			<div class="frame-group">
				<div class="reservation-details-wrapper">
					<div class="reservation-details">Reservation Details</div>
				</div>
				<div class="date-parent">
					<div class="date">
						<div class="rsvp-field">
							<div class="rsvpID-container">
								<div class="rsvpID-wrapper">
									<div class="rsvpID">Reservation ID</div>
								</div>
								<div class="asterisk">
									<div class="div">*</div>
								</div>
							</div>
							<input class="rsvp-input" type="number" id="rsvpID" required />
						</div>
						<div class="field-parent">
							<div class="pickupDate-field">
								<div class="pickupDate-container">
									<div class="pickupDate-wrapper">
										<div class="pickupDate">Pickup Date</div>
									</div>
									<div class="asterisk">
										<div class="pickupDate-asterisk">*</div>
									</div>
								</div>
								<div class="pickupDate-input-container">
									<input class="pickupDate-input" id="pickupDateID" type="date" required />
								</div>
							</div>
							<div class="returnDate-field">
								<div class="returnDate-container">
									<div class="returnDate-wrapper">
										<div class="returnDate">Return Date</div>
									</div>
									<div class="asterisk">
										<div class="returnDate-asterisk">*</div>
									</div>
								</div>
								<div class="returnDate-input-container">
									<input class="returnDate-input" id="returnDateID" type="date" required />
								</div>
							</div>
							<div class="duration-field">
								<div class="duration-container">
									<div class="duration-wrapper">
										<div class="duration">Duration</div>
									</div>
									<div class="asterisk">
										<div class="duration-asterisk">*</div>
									</div>
								</div>
								<input class="duration-input" id="durationID" type="text" required disabled
									value="None" />
							</div>
						</div>
						<div class="discount-section">
							<div class="discount-field">
								<div class="discount-container">
									<div class="discount-wrapper">
										<div class="discount">Discount</div>
									</div>
								</div>
								<input class="discount-input" type="number" value="0" id="discountID" />
							</div>
						</div>
					</div>
					<div class="vehicle-information-wrapper">
						<div class="vehicle-information">Vehicle Information</div>
					</div>
				</div>
				<div class="vehicle-info">
					<div class="vehType-field-container">
						<div class="vehType-field">
							<div class="vehType-container">
								<div class="vehType-wrapper">
									<div class="vehType">Vehicle Type</div>
								</div>
								<div class="asterisk">
									<div class="vehType-asterisk">*</div>
								</div>
							</div>
							<select class="vehType-select" id="vehicleType" required>
								<option value="" disabled selected>Select Vehicle Type</option>
								<% types.forEach(type=> { %>
									<option value="<%= type.type %>">
										<%= type.type %>
									</option>
									<% }); %>
							</select>
						</div>
					</div>
					<div class="vehName-field">
						<div class="vehName-container">
							<div class="vehName-wrapper">
								<div class="vehName">Vehicle</div>
							</div>
							<div class="asterisk">
								<div class="vehName-asterisk">*</div>
							</div>
						</div>
						<select class="vehName-input" id="vehicleName" required disabled>
						</select>
					</div>
				</div>
			</div>
			<div class="frame-container">
				<div class="customer-inf-charges-parent">
					<div class="customer-inf-charges">
						<div class="customer-information-wrapper">
							<div class="customer-information">Customer Information</div>
						</div>
						<div class="charges-summary-wrapper">
							<div class="charges-summary-text">Charges Summary</div>
						</div>
					</div>
					<div class="info-form">
						<div class="customerInfo-form">
							<div class="customerInfo-fields">
								<div class="firstName-field">
									<div class="firstName-container">
										<div class="firstName-wrapper">
											<div class="firstName">First Name</div>
										</div>
										<div class="asterisk">
											<div class="firstName-asterisk">*</div>
										</div>
									</div>
									<input class="firstName-input" type="text" id="firstNameID" required />
								</div>
								<div class="lastName-field">
									<div class="lastName-container">
										<div class="lastName-wrapper">
											<div class="lastName">Last Name</div>
										</div>
										<div class="asterisk">
											<div class="lastName-asterisk">*</div>
										</div>
									</div>
									<input class="lastName-input" type="text" id="lastNameID" required />
								</div>
								<div class="email-field">
									<div class="email-container">
										<div class="email-wrapper">
											<div class="email">Email</div>
										</div>
										<div class="asterisk">
											<div class="email-asterisk">*</div>
										</div>
									</div>
									<input class="email-input" type="email" id="emailID" required />
								</div>
								<div class="phone-field">
									<div class="phone-container">
										<div class="phone-wrapper">
											<div class="phone">Phone</div>
										</div>
										<div class="asterisk">
											<div class="phone-asterisk">*</div>
										</div>
									</div>
									<input class="phone-input" type="tel" id="phoneID" required />
								</div>
							</div>
						</div>
						<div class="charges-summary">
							<table>
								<thead>
									<tr>
										<th>Charge</th>
										<th>Unit</th>
										<th>Rate</th>
										<th>Total</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>Daily</td>
										<td>1</td>
										<td>$0.00</td>
										<td>$0.00</td>
									</tr>
									<tr>
										<td>Weekly</td>
										<td>1</td>
										<td>$0.00</td>
										<td>$0.00</td>
									</tr>
									<tr>
										<td>Collision Damage Waiver</td>
										<td></td>
										<td>$0.00</td>
										<td>$0.00</td>
									</tr>
									<tr class="total-row">
										<td>Total</td>
										<td></td>
										<td></td>
										<td>$0.00</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<div class="addtional-charges-section">
					<div class="additional-charges-wrapper">
						<div class="additional-charges">Additional Charges</div>
					</div>
					<div class="addtional-charges-box">
						<div class="instance-parent">
							<div class="addtional-charges-wrapper">
								<input class="additional-charges-checkbox" type="checkbox" id="colDmgID" />
								<div class="additional-charges-name">Collision Damage Waiver</div>
							</div>
							<div class="col-dmg">
								<div class="rectangle-wrapper">
									<div class="frame-child"></div>
								</div>
								<div class="additional-charges-price">$9.00</div>
							</div>
						</div>
						<div class="instance-group">
							<div class="liability-insurance">
								<input class="additional-charges-checkbox" type="checkbox" id="insuranceID" />

								<div class="additional-charges-name">Liability Insurance</div>
							</div>
							<div class="rectangle-parent">
								<div class="instance-child"></div>
								<div class="additional-charges-price">$15.00</div>
							</div>
						</div>
						<div class="instance-container">
							<div class="rental-tax">
								<input class="additional-charges-checkbox" type="checkbox" id="rentalTaxID" />

								<div class="additional-charges-name">Rental Tax</div>
							</div>
							<div class="rectangle-group">
								<div class="instance-item"></div>
								<div class="additional-charges-price">11.5%</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</main>
	</div>
	<script src="./script.js"></script>
</body>

</html>